.khan__buy-link {
  margin-left: 48px;
  margin-top: 0px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #2F80ED;
  min-width: 223px;
  opacity: 100%;
}

.khan__buy-link:hover {
  opacity: 75%;
}
