.khan__buy-link {
  margin: 0px 0px 0px 0px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #2F80ED;
  min-width: 223px;
  opacity: 100%;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 75%;
}
