.techniques__section-title {
  width: 700px;
  height: 69px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 115%;
  text-align: center;
  color: #000000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
