.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  }
@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}