.cards__title {
  margin-top: 43px;
  margin-bottom: 16px;
  width: 240px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 115%;
  text-align: center;
  color: #000000;
}
