.kaufman__section-title_theme_dark {
  width: 60%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 115%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}
