.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(/Images/kaufman-triangle.svg);
  background-position: bottom left;
  background-size: 877px 877px;
  position: absolute;
  right: -210px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}
