.khan__quote {
    margin-left: 144px;
    margin-top: 50px;
    width: 790px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    box-sizing: content-box;
    overflow: hidden;
}