.header__title {
  width: 730px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  color: #000000;
  z-index: 4;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0px 0px 0px 64px;
}
