.kaufman__section-subtitle_theme_dark {
  width: 60%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  margin: 0px auto 80px auto;
}
