.table__cell {
  width: 250px;
  margin: 0px 0px 60px 0px;
}

.table__cell:nth-of-type(5n) {
  margin-bottom: 0px;
}

.table__cell:nth-of-type(6n) {
  margin-bottom: 0px;
}

.table__cell:nth-of-type(7n) {
  margin-bottom: 0px;
}

.table__cell:nth-of-type(8n) {
  margin-bottom: 0px;
}
