.khan__title {
    margin-left: 144px;
    margin-top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 115%;
    color: #000000;
    box-sizing: content-box;
    overflow: hidden;
}