.resources__section-title {
  width: 60%;
  margin: 0px auto 20px auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 69px;
  text-align: center;
  color: #000000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
